@model MVCI_Compendium.Models.Character[]

@{
    ViewData["Title"] = "Home Page";
}


    <div class="faction-btn">
        <button id="capcom-btn">Capcom</button>
        <button id="marvel-btn">Marvel</button>
    </div>

    <div class="characters">
    <div class="row">
            @foreach (var character in Model)
            {
                @if (character.Faction == "capcom")
                {
                    <div class="col-xs-4 capcom-characters">
                        <h6>
                            @character.Name
                        </h6>
                        <a href="@Url.Action("Detail", new { id = character.Id })">
                            <img src="/images/@character.Icon"
                                 class="img-responsive img-thumbnail icon" />
                        </a>
                    </div>
                }
                else
                {
                        <div class="col-xs-4 marvel-characters">
                            <h6>
                                @character.Name
                            </h6>
                            <a href="@Url.Action("Detail", new { id = character.Id })">
                                <img src="/images/@character.Icon"
                                     class="img-responsive img-thumbnail icon" />
                            </a>
                        </div>
                }
            }
    </div>
</div>

