@model MVCI_Compendium.Models.CharacterListViewModel

@{
    ViewData["Title"] = "Home Page";
}


    

    <div class="characters">
    <div class="row row-border">
        <div class="faction-btn">
            <button id="capcom-btn">Capcom</button>
            <button id="marvel-btn">Marvel</button>
        </div>
            @foreach (var character in Model.Characters)
            {
                @if (character.Faction == "capcom")
                {
                    <div class="col-xs-4 capcom-characters">
                        <div class="charTitle">
                            @character.Name
                        </div>
                        <a href="@Url.Action("Detail", new { name = character.CharacterId })">
                            <div class="center-block">
                                <img src="/images/@character.Icon"
                                     class="img-responsive img-thumbnail icon" />
                            </div>
                        </a>

                    </div>
                }
                else
                {
                    <div class="col-xs-4 marvel-characters">
                        <div class="charTitle">
                            @character.Name
                        </div>
                        <a href="@Url.Action("Detail", new { name = character.CharacterId })">
                            <div class="center-block">
                                <img src="/images/@character.Icon"
                                     class="img-responsive img-thumbnail icon" />
                            </div>
                        </a>

                    </div>
                }
            }
    </div>
</div>

